{% extends 'events/base.html' %}


{% block content %}

	<div class="card">
  <div class="card-header">
    <h3>Venue</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title"><b>Venue Name:</b> {{ venue }}</h5>
    <p class="card-text">
    <ul>
    <li>Address: {{ venue.address }}</li>
	<li>Zip Code: {{ venue.zip_code }}</li>
	<li>Mobile No. {{ venue.phone }}</li>
	<li>Email Address: {{ venue.email_address }}</li>
	<li>Web Address: <a href="{{ venue.web }}">{{ venue.web }}</a></li>
	</ul>
	{% if user.is_authenticated %}
	<a href="{% url 'update_venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
    {% endif %}
    </p>
  </div>
</div>
{% endblock %}